@import "../common/variables";
@import "../common/breakpoint";

.p-action {
  background-color: $color-base-white;
  width: 100%;

  &__headMenu {
    box-shadow: 0 1px rgba(0, 0, 0, 0.11);
    margin-top: 8px;
    height: 50px;
    @include mq(xlg) {
      margin-top: 15px;
    }
  }

  &__menuList {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    > li {
      width: 50px;
      text-align: center;

      i {
        font-size: 17px;
        color: $color-palette-gray-5;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          color: $color-base-blue;
        }
      }
    }
  }

  &__content {
    position: relative;
    margin-top: 28px;
    display: none;
    @include mq(xlg) {
      margin-top: 36px;
    }

    @keyframes show {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    &.is-show {
      display: block;
      animation-name: show;
      animation-duration: 0.3s;
      animation-timing-function: ease;
    }
  }

  &__tileList {
    display: flex;
    flex-wrap: wrap;

    > li {
      $gutter: 0.5%;
      /* xlg */
      $row-xlg: 8;
      $width-xlg: (100% - ($row-xlg - 1) * $gutter) / $row-xlg;
      $fixedRatio-xlg: $width-xlg * (9 / 16); /* 画像比率を16:9に設定 */
      /* lg */
      $row-lg: 6;
      $width-lg: (100% - ($row-lg - 1) * $gutter) / $row-lg;
      $fixedRatio-lg: $width-lg * (9 / 16); /* 画像比率を16:9に設定 */

      width: $width-lg;
      position: relative;
      padding-top: $fixedRatio-lg;
      overflow: hidden;
      border-radius: 3px;
      @include mq {
        &:nth-of-type(n+7) {
          margin-top: $gutter;
        }
        &:not(:nth-child(6n)) {
          margin-right: 0.5%;
        }
      }
      @include mq(xlg) {
        width: $width-xlg;
        padding-top: $fixedRatio-xlg;
        &:nth-of-type(n+9) {
          margin-top: $gutter;
        }
        &:not(:nth-child(8n)) {
          margin-right: 0.5%;
        }
      }

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        object-fit: cover;
      }
    }
  }

  &__table {
    width: 100%;
    margin-top: 24px;
    border-collapse: collapse;

    &__head {
      background: $color-base-blue;
      color: $color-base-white;

      > th {
        font-size: 15px;
        font-weight: 400;
        text-align: left;
        line-height: 37px;
        height: 37px;
        padding: 3px 0 3px 10px;
        border: solid 1px $color-palette-gray-5;
      }
    }

    &__data {
      font-size: 14px;
      line-height: 29px;
      height: 29px;
      padding: 3px;
      cursor: pointer;

      > td {
        padding: 3px 8px;
        border: solid 1px $color-palette-gray-5;
      }

      .input {
        padding: 15px;
      }

      .input, .imageIcon {
        position: relative;
      }

      .input > input, .imageIcon > i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .imageIcon {
        transition: opacity .3s ease;

        &:hover {
          opacity: 0.6;
        }

        & > i {
          font-size: 18px;
          color: $color-palette-gray-8;
        }
      }
    }
  }

  &__imgModal {
    img {
      width: 100%;
    }
  }
}

.uploadModal {
  position: relative;
  height: 100%;
  display: none;

  .uploadMain {
    height: 82%;
    display: flex;

    &__fileArea {
      position: relative;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 26px 20px;

      &:before {
        content: "";
        background-image: linear-gradient(to right, $color-palette-gray-5, $color-palette-gray-5 6px, transparent 3px, transparent 8px),
        linear-gradient(to right, $color-palette-gray-5, $color-palette-gray-5 6px, transparent 3px, transparent 8px),
        linear-gradient(to bottom, $color-palette-gray-5, $color-palette-gray-5 6px, transparent 3px, transparent 8px),
        linear-gradient(to bottom, $color-palette-gray-5, $color-palette-gray-5 6px, transparent 3px, transparent 8px);
        background-size: 11px 2px, 11px 2px, 2px 11px, 2px 11px;
        background-position: left top, left bottom, left top, right top;
        background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events: none;
      }
    }

    &__textArea {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 6%;

      > i {
        font-size: 70px;
        color: $color-palette-gray-2;
      }

      .mainText {
        font-size: 21px;
        margin-top: 20px;
      }

      .subText {
        position: relative;
        font-size: 16px;
        margin-top: 19px;

        &:before, &:after {
          position: absolute;
          content: "";
          border-top: 1px solid;
          width: 3em;
          top: calc(50% - 0.5px);
        }

        &:before {
          left: 3.2em;
        }

        &:after {
          right: 3.2em;
        }
      }

      .buttonWrap {
        margin-top: 22px;

        input[type="file"] {
          display: none;
        }
      }
    }

    &__statusArea {
      width: 50%;
      padding: 0 13px 0 33px;
      margin-top: 25px;
      overflow-y: scroll;

      > span {
        position: absolute;
        top: 0;
        font-size: 18px;
      }

      .fileList {
        width: 100%;
        margin-top: 5px;
      }

      .inputFile {
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
        box-shadow: 0 1px rgba(0, 0, 0, 0.11);

        > i {
          flex-grow: 0;
          font-size: 25px;
          color: $color-palette-gray-6;
          display: flex;
          align-items: center;
        }

        > div {
          height: 100%;
          flex-grow: 1;
          margin-left: 18px;
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .fileInfo {
        position: relative;
        width: 100%;
        height: 20px;

        .fileName {
          font-size: 15px;
          line-height: 1.2;
          width: 70%;
          position: absolute;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .fileSize {
          font-size: 12px;
          position: absolute;
          bottom: 0;
          right: 5%
        }
      }
    }
  }

  .uploadFooter {
    height: 18%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .message {
      font-size: 14px;
      line-height: 1.7;
    }

    .buttonCTA:last-of-type {
      margin-left: 6px;
    }
  }
}

.add-imgModal {
  .jBox-content {
    padding: 0 !important;
  }

  .jBox-content::-webkit-scrollbar {
    display: none;
  }
}
