@import "../common/variables";

.p-action {
  background-color: #fff;
  width: 100%;
  padding: 30px 0;

  &__head {
    max-width: 1320px;
    margin: 15px auto 0;
    padding: 0 22px;

    &__wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  &__content {
    max-width: 1320px;
    margin: 28px auto 0;
    padding: 0 22px;
  }

  &__table {
    width: 100%;
    margin-top: 24px;
    border-collapse: collapse;

    &__head {
      font-size: 15px;
      font-weight: 600;
      line-height: 37px;
      height: 37px;
      background: $color-primary-blue;
      color: #fff;

      > th {
        text-align: left;
        font-weight: 700;
        padding: 3px 0 3px 10px;
        border: solid 1px $color-palette-gray-5;
      }
    }

    &__data {
      font-size: 14px;
      line-height: 29px;
      height: 29px;
      padding: 3px;
      cursor: pointer;

      > td {
        padding: 3px 8px;
        border: solid 1px $color-palette-gray-5;
      }

      .input {
        padding: 15px;
      }

      .input, .imageIcon {
        position: relative;
      }

      .input > input, .imageIcon > i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .imageIcon {
        transition: opacity .3s ease;
        &:hover {
          opacity: 0.6;
        }
        & > i {
          font-size: 18px;
          color: $color-palette-gray-8;
        }
      }
    }
  }
  &__imgModal {
    img {
      width: 100%;
    }
  }
}

.add-imgModal {
  .jBox-Modal .jBox-content {
    padding: 0 !important;
  }
  .jBox-content::-webkit-scrollbar {
    display: none;
  }
}
