.p-admin {
  background-color: #fff;
  width: 100%;
  padding: 30px 0;

  &__contents {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 22px;

    > h1 {
      font-size: 32px;
      font-weight: 700;
    }
  }

  &__userList {
    width: 100%;
    margin-top: 24px;
    border-collapse: collapse;

    &__head {
      font-size: 15px;
      font-weight: 600;
      line-height: 37px;
      height: 37px;
      background: #118AB2;
      color: #fff;

      > th {
        padding: 3px;
        border: solid 1px #DCDCDC		;
      }
    }

    &__data {
      font-size: 14px;
      line-height: 29px;
      height: 29px;
      padding: 3px;

      > td {
        padding: 3px;
        border: solid 1px #DCDCDC		;
      }
    }
  }

  &__total {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
  }
}