@import "../common/variables";

.p-admin {
  background-color: #fff;
  width: 100%;
  padding: 30px 0;

  &__contents {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 22px;

    > h1 {
      color: $color-primary-darkBlue;
      font-size: 32px;
      font-weight: 700;
    }
  }

  &__userList {
    width: 100%;
    margin-top: 24px;
    border-collapse: collapse;

    &__head {
      font-size: 15px;
      font-weight: 600;
      line-height: 37px;
      height: 37px;
      background: $color-primary-blue;
      color: #fff;

      > th {
        padding: 3px 8px;
        border: solid 1px $color-palette-gray-5;
      }
    }

    &__data {
      font-size: 14px;
      line-height: 29px;
      height: 29px;
      padding: 3px;
      cursor: pointer;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.6;
      }

      > td {
        padding: 3px 8px;
        border: solid 1px $color-palette-gray-5;
      }
    }
  }

  &__total {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
  }

  &__userDetails {

    > h2 {
      color: $color-primary-blue;
      font-size: 32px;
      font-weight: 600;
    }

    &__table {
      width: 100%;
      margin-top: 20px;

      th, td {
        font-size: 15px;
        font-weight: 400;
        border: solid 1px $color-palette-gray-5;
        padding: 11px 12px;
      }

      th {
        width: 30%;
        color: #fff;
        background-color: $color-primary-blue;
      }
    }

    .buttonWrap {
      margin-top: 20px;
      text-align: right;
    }
  }
}