@import "../common/variables";

.p-admin {
  width: 100%;

  &__contents {
    margin-top: 24px;
  }

  &__userList {
    width: 100%;
    border-collapse: collapse;

    &__head {
      font-size: 15px;
      font-weight: 600;
      line-height: 37px;
      height: 37px;
      background: $color-base-blue;
      color: $color-base-white;

      > th {
        padding: 3px 8px;
        border: solid 1px $color-palette-gray-5;
      }
    }

    &__data {
      font-size: 14px;
      line-height: 29px;
      height: 29px;
      padding: 3px;
      cursor: pointer;
      transition: opacity 0.3s ease;
      &:hover {
        opacity: 0.6;
      }

      > td {
        padding: 3px 8px;
        border: solid 1px $color-palette-gray-5;
      }
    }
  }

  &__total {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.4;
    font-weight: 600;
  }

  &__userDetails {

    > h2 {
      font-size: 26px;
      font-weight: 600;
    }

    &__table {
      width: 100%;
      margin-top: 20px;

      th, td {
        font-size: 15px;
        font-weight: 400;
        border: solid 1px $color-palette-gray-5;
        padding: 11px 12px;
      }

      th {
        width: 30%;
        color: #fff;
        background-color: $color-base-blue;
      }
    }

    .buttonWrap {
      margin-top: 20px;
      text-align: right;
    }
  }
}