.p-error {
  padding: 30px;

  > h1 {
    font-size: 40px;
    font-weight: 600;
  }

  > p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.7;
  }

  .buttonCTA {
    margin-top: 25px;
  }
}