@import "../common/breakpoint";

.p-error {
  margin-top: 23px;
  @include mq(xlg) {
    margin-top: 36px;
  }

  > h2 {
    font-size: 40px;
    font-weight: 600;
  }

  > p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.7;
  }

  .c-buttonCTA {
    margin-top: 25px;
  }
}