.p-home {
  overflow: hidden;
  display: flex;

  &__contents {
    min-height: 100px;
    background-color: #fff;
    width: 100%;
    padding: 30px 22px 0;
  }

  &__mansonry {
    max-width: 1320px;
    margin: 0 auto;
    column-count: 3;
    column-gap: 10px;

    &___imgWrap {
      position: relative;
    }

    figure {
      position:relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
    }

    img {
      width: 100%;
    }
  }
}

