@import "../common/variables";

.p-home {
  background-color: #fff;
  width: 100%;
  padding: 30px 0;

  &__head {
    max-width: 1320px;
    margin: 15px auto 0;
    padding: 0 22px;
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &__sortArea {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 38px;
      > span {
        font-size: 13px;
        color: #A5A5A5;
      }
      > select {
        cursor: pointer;
        padding: 7px 32px 7px 12px;
        border: solid 1px #CCCCCC;
        font-size: 14px;
        font-weight: 400;
        color: $color-primary-darkBlue;
        margin-left: 0.4em;
        border-radius: 3px;
        z-index: 2;
      }
      > svg {
        fill: #A5A5A5;
        position: absolute;
        right: 12px;
        width: 12px;
        height: 12px;
        z-index: 1;
        transition: transform 0.2s ease-in-out
      }
    }
    .buttonCTA > i {
      margin-right: 0.3em;
    }
  }

  &__masonry {
    max-width: 1320px;
    margin: 28px auto 0;
    column-count: 3;
    column-gap: 10px;
    padding: 0 22px;

    &___imgWrap {
      position: relative;
    }

    figure {
      position:relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 10px;
    }

    img {
      width: 100%;
    }
  }
}

