@import "../common/variables";

.p-home {
  background-color: #fff;
  width: 100%;
  padding: 30px 0;

  &__head {
    max-width: 1320px;
    margin: 15px auto 0;
    padding: 0 22px;
    &__wrap {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &__sortArea {
      position: relative;
      display: flex;
      align-items: center;
      margin-right: 38px;
      > span {
        font-size: 13px;
        color: $color-palette-gray-6;
      }
      > select {
        cursor: pointer;
        padding: 7px 32px 7px 12px;
        border: solid 1px $color-palette-gray-4;
        font-size: 14px;
        font-weight: 400;
        color: $color-primary-darkBlue;
        margin-left: 0.4em;
        border-radius: 3px;
        z-index: 2;
      }
      > svg {
        fill: $color-palette-gray-6;
        position: absolute;
        right: 12px;
        width: 12px;
        height: 12px;
        z-index: 1;
        transition: transform 0.2s ease-in-out
      }
    }
    .buttonCTA > i {
      margin-right: 0.3em;
    }
  }

  &__postedList {
    max-width: 1320px;
    margin: 28px auto 0;
    padding: 0 22px;
  }

  &__postedItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    opacity: 0;
    transition: all 0.7s ease-in-out;
    &.is-loaded {
      opacity: 1;
    }

    > figure {
      position:relative;
      flex-basis: calc(100% / 3 - 10px);
      margin-bottom: 10px;
    }
  }

  &__postedImg {
    position: relative;
    padding-top: calc(2 / 3 * 100%);
    overflow: hidden;
    border-radius: 3px;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }
}

