@import "../common/variables";

.p-home {
  background-color: #fff;
  width: 100%;
  padding: 30px 0;


  &__head {
    max-width: 1320px;
    margin: 15px auto 0;
    padding: 0 22px;

    > h2 {
      font-size: 27px;
      font-weight: 600;
      line-height: 1.4;
    }

    &__info {
      margin-top: 8px;
      font-size: 17px;
      font-weight: 600;
      line-height: 1.4;
      color: #7D7C83;

      > span:last-child {
        margin-left: 25px;
      }
    }
  }

  &__postedList {
    position: relative;
    max-width: 1320px;
    margin: 28px auto 0;
    padding: 0 22px;

    &__buttonWrap {
      display: flex;
      align-items: center;
      position: absolute;
      top: -60px;
      right: 25px;
    }

    &__sortArea {
      position: relative;
      margin-right: 10px;
      > span {
        font-size: 13px;
        color: $color-palette-gray-6;
      }

      > select {
        cursor: pointer;
        padding: 7px 32px 7px 12px;
        border: solid 1px $color-palette-gray-4;
        font-size: 14px;
        font-weight: 400;
        color: $color-primary-darkBlue;
        margin-left: 0.4em;
        border-radius: 3px;
        z-index: 2;
      }

      > svg {
        fill: $color-palette-gray-6;
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        z-index: 1;
        transition: transform 0.2s ease-in-out
      }
    }
  }

  &__postedItem {
    display: flex;
    flex-wrap: wrap;
    transition: all 0.7s ease-in-out;

    &.is-loaded {
      opacity: 1;
    }

    > figure {
      position: relative;
      flex-basis: calc(100% / 3 - 20px / 3);
      margin-bottom: 10px;
      margin-left: 10px;

      &:nth-child(3n+1) {
        margin-left: 0;
      }
    }
  }

  &__postedImg {
    position: relative;
    padding-top: calc(2 / 3 * 100%);
    overflow: hidden;
    border-radius: 3px;

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      object-fit: cover;
    }
  }
}

