@import "../common/variables";

.loadingMask {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999;
  opacity: 1;
  visibility: visible;
  transition: all 0.5s ease-in-out;
  &.is-loaded {
    opacity: 0;
    visibility: hidden;
  }

  > img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.p-home {
  background-color: #fff;
  width: 100%;
  padding: 58px 59px;

  &__head {
    margin-top: 35px;
    > h2 {
      font-size: 27px;
      font-weight: 600;
      line-height: 1.4;
    }

    &__info {
      margin-top: 8px;
      font-size: 17px;
      font-weight: 600;
      line-height: 1.4;
      color: #7D7C83;

      > span:last-child {
        margin-left: 25px;
      }
    }
  }

  &__postedList {
    position: relative;
    margin-top: 36px;

    &__buttonWrap {
      display: flex;
      align-items: center;
      position: absolute;
      top: -60px;
      right: 25px;
    }

    &__sortArea {
      position: relative;
      margin-right: 10px;
      > span {
        font-size: 13px;
        color: $color-palette-gray-6;
      }

      > select {
        cursor: pointer;
        padding: 7px 32px 7px 12px;
        border: solid 1px $color-palette-gray-4;
        font-size: 14px;
        font-weight: 400;
        color: $color-primary-darkBlue;
        margin-left: 0.4em;
        border-radius: 3px;
        z-index: 2;
      }

      > svg {
        fill: $color-palette-gray-6;
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        width: 12px;
        height: 12px;
        z-index: 1;
        transition: transform 0.2s ease-in-out
      }
    }
  }
  &__postedItem {

    .grid-item, .grid-sizer {
      width: calc(95% / 6);
    }
    .gutter-sizer {
      width: 1%;
    }
    .grid-item {
      margin-bottom: 1%;
    }
    img {
      width: 100%;
      border-radius: 10px;
    }
  }

  // test
  &__postedItemTest {
    column-count: 6;
    column-gap: 0.5%;
    figure {
      position:relative;
      display: inline-block;
      width: 100%;
      margin-bottom: 3%;
    }
    img {
      width: 100%;
      border-radius: 5px;
    }
  }
}

