@import "../common/_variables";

.c-contents {
  background: #F5F5F5;
}

.p-settings {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 41px 0 90px;

  h1 {
    color: $color-primary-darkBlue;
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
    padding: 0 22px;
  }

  &__editBlock {
    margin-top: 55px;
    padding: 0 88px;

    h2 {
      font-size: 28px;
      font-weight: 600;
      line-height: 1.2;
    }

    &__wrap {
      background: #fff;
      border-radius: 3px;
      padding: 24px 34px;
    }

    &__content {
      margin-top: 43px;
      padding: 0 50px;
    }
  }

  &__settingArea {
    display: flex;

    > dt {
      font-size: 20px;
      font-weight: 500;
      width: 28%;
    }

    > dd {
      width: 72%;
    }

    > dd:not(.inputGroup) {
      position: relative;
    }


    &__icon {
      display: flex;
      align-items: flex-end;
      figure {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        margin: 0;
        > img {
          width: 100%;
          height: 100%;
        }
      }
      .buttonWrap {
        margin-left: 40px;
        display: flex;
        input[type="file"] {
          display: none;
        }
        .reload {
          margin-left: 30px;
        }
      }
    }

    &-buttonBox {
      display: flex;
      justify-content: flex-end;
    }
  }

  form > &__settingArea {
    margin-top: 30px;
  }
}

.jBox-container {
  .cropModal {
    width: 100%;
    height: 100%;
    .cropWrap {
      width: 100%;
    }
    .cropBody {
      width: 100%;
      overflow: auto;
      > img {
        display: block;
        width: 100%;
        max-width: 100%;
      }
    }
    .cropFooter {
      width: 100%;
    }
    // override
    .cropper-container {
      z-index: 1;
      user-select: none;
    }
    .cropper-drag-box, .cropper-crop, .cropper-modal {
      user-select: none;
      pointer-events: none;
    }
    .cropper-view-box, .cropper-face {
      border-radius: 50%;
      outline: none;
    }
    .cropper-view-box {
      border: 1px dashed #fff;
    }
  }
}