.p-signup {
  height: calc(100vh - 120px);
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__wrap {
    width: 370px;
    height: 425px;
    background-color: #EADDED;
    padding: 1em;
    border-radius: 3px;
  }

  .p-form {

    &__title {
      font-size: 50px;
      font-weight: bold;
      line-height: 1;
    }
    &__text {
      text-align: right;
      font-size: 17px;
      line-height: 1.7;
      span {
        font-weight: 600;
        background-color: #5e0669;
        color: #fff;
        padding: 0.4em 0.6em;
        border-radius: 14px;
      }
      span:hover {
        background-color: #fff;
        color: #5e0669;
        transition: all 0.2s ease;
      }
    }
    
    &__inputWrap {
      width: 75%;
      margin: 0 auto;
    }
    &__inputField {
      margin-top: 0.3em;

      label[for="password"] {
        margin-top: 0.2em;
        display: inline-block;
      }
      label[for] > span {
        font-size: 15px;
      }
    }
    .buttonCTA_box {
      margin-top: 0.8em;
    }
    .buttonCTA {
      width: 100%;
    }
  }
}