.p-top {
  background-image: url("/images/top-image_1920.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  flex: 1; //画面の高さから他の同レイヤーの要素の高さを引いた値に

  &__wrap {
    height: 100%;
    width: 100%;
    padding: 100px 30px 30px;
  }

  &__hero {
    width: 610px;
    text-align: center;
    margin-top: calc(20 / 1024 * 100vw);
    margin-left: calc(21 / 1024 * 100vw);

    > h1 {
      font-size: 60px;
      font-weight: 800;
      line-height: 1.2;
    }
    > p{ 
      margin-top: 2em;
      font-size: 22px;
      line-height: 1.3;
    }
    .buttonWrap {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      .buttonCTA:first-of-type {
        margin-right: 10px;
      }
    }
  }


  &__modalBody {
    padding: 15px 25px 35px;
    h2 {
      text-align: center;
      font-size: 41px;
      font-weight: 800;
    }
    p {
      color: #7d7c83;
    margin-top: 18px;
    line-height: 1.2;
    font-size: 17px;
    text-align: center;
    }
  }

  &__modalForm {
    margin-top: 32px;

    > .buttonCTA {
      margin-top: 33px;
    }
  }

  &__inputGroup {
    position: relative;

    > i {
      font-size: 20px;
      color: #ddd;
      position: absolute;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      transition: all .15s ease;
    }

    .inputText {
      border: 2px solid #ddd;
      border-radius: 10px;
      width: 100%;
      height: 45px;
      padding: 0 15px 0 45px;
      font-size: 15px;
      &::placeholder {
        color: #ddd;
        font-weight: 600;
      }
      &:focus {
        border: 2px solid #ef476f;
      }
      &:focus+i {
        color: #ef476f;
      }
    }

    &:not(:nth-of-type(1)) {
      margin-top: 20px;
    }

    .buttonCTA-show {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8px;
      width: auto;
      height: 30px;
      font-size: 14px;
      font-weight: 600;
      line-height: 30px;
      color: #000;
      background: #fff;
      padding: 0 12px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.11) inset;
      transition: all 0.15s ease;
      &:hover{
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.31) inset;
      }
    }
  }

  &__modalFooter {
    box-shadow: 0 -1px rgba(0,0,0, 0.11);
    padding: 24px 24px 9px;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    a {
      color: #ef476f;
      &:hover {
        border-bottom: solid 1px #ef476f;
      }
    }
  }

  &__errorMessage {
    color: #9E5869;
    font-size: 15px;
    line-height: 1.2;
  }
  
}

.add-jboxErrorMessage .jBox-container {
  background-color: #FBD0DA;
  border-radius: 10px;
  box-shadow: none !important;
}