@import "../common/_variables";
@import "../common/_breakpoint";

.p-top {
  background-color: $color-palette-gray-1;
  .p-hero {
    &__slide {
      background-size: cover;
      background-position-y: center;
      width: 100%;
      height: 70vh;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.23);
        z-index: 1;
      }

      &-1 {
        background-image: url("/images/pc/hero1-min.jpg");
      }

      &-2 {
        background-image: url("/images/pc/hero2-min.jpg");
      }

      &-3 {
        background-image: url("/images/pc/hero3-min.jpg");
      }
    }

    &__wrap {
      position: absolute;
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      z-index: 2;
    }

    &__content {
      width: 900px;
      margin-left: 90px;
      color: #fff;
      line-height: 1.5;

      > h3 {
        font-size: 28px;
        font-weight: 600;
        line-height: 1.4;
        @include mq(xlg) {
          font-size: 36px;
        }
      }

      .logo {
        font-family: Expletus Sans, serif;
        font-size: 34px;
        font-weight: 400;
        @include mq(xlg) {
          font-size: 38px;
        }
      }

      > p {
        position: relative;
        font-size: 21px;
        line-height: 1.5;
        margin-top: 12px;
        padding-left: 3em;
        @include mq(xlg) {
          font-size: 23px;
        }

        &:before {
          content: '';
          display: block;
          width: 2.6em;
          height: 1.5px;
          background: #fff;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
      }

      .buttonWrap {
        margin-top: 30px;
        display: flex;

        .c-buttonCTA:first-of-type {
          margin-right: 15px;
        }

        // 良い方法があればpartsに書きたい
        .buttonCTA-adjustWith {
          width: 92px;
        }
      }
    }

    .slick-dots {
      bottom: 15px;

      button:before {
        content: '';
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: $color-base-white;
      }
    }
  }

  .p-body {
    max-width: 1400px;
    margin: 0 auto;
    padding-bottom: 30px;

    &__head {
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
      padding: 20px 0;
      background-color: $color-base-white;

      > h4 {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.2;
        text-align: center;
        @include mq(xlg) {
          font-size: 20px;
        }

        > span {
          font-family: Expletus Sans, serif;
        }
      }
    }

    &__featureList {
      display: flex;
      justify-content: space-around;
      margin-top: 25px;

      > li {
        width: 100%;
        text-align: center;
        padding: 0 6px;
      }

      > li img {
        width: 31%;
      }

      .textWrap {
        margin-top: 10px;
      }

      .textWrap > h5 {
        font-size: 16px;
        font-weight: 500;
        @include mq(xlg) {
          font-size: 18px;
        }
      }

      .textWrap > p {
        font-size: 14px;
        line-height: 1.4;
        margin-top: 3px;
        @include mq(xlg) {
          font-size: 15px;
        }
      }
    }

    &__panelWrap {
      margin-top: 30px;
    }

    &__panel {
      display: flex;
      height: 466px;
      .imgWrap, .textWrap {
        width: 50%;
        height: 100%;
      }
      .imgWrap img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .textWrap {
        padding: 24px 35px;
        > h4 {
          font-size: 18px;
          text-align: center;
          font-weight: 400;
          @include mq(xlg) {
            font-size: 20px;
          }
        }
      }
      &-even {
        flex-direction: row-reverse;
      }
    }
  }
  .p-footer {
    height: 100px;
    width: 100%;
    box-shadow: 0 -1px rgba(0, 0, 0, 0.11);
  }
}
