@import "../common/_variables";

.p-hero {
  background-size: cover;
  background-position-y: center;
  width: 100%;
  height: 70vh;
  &-1 {
    background-image: url("/images/pc/hero1-min.jpg");
  }
  &-2 {
    background-image: url("/images/pc/hero2-min.jpg");
  }
  &-3 {
    background-image: url("/images/pc/hero3-min.jpg");
  }

  &__wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__content {
    width: 610px;
    text-align: center;
    margin-left: 50px;

    > h1 {
      font-size: 60px;
      font-weight: 800;
      line-height: 1.2;
    }

    > p {
      margin-top: 2em;
      font-size: 22px;
      line-height: 1.3;
    }

    .buttonWrap {
      margin-top: 30px;
      display: flex;
      justify-content: center;

      .buttonCTA:first-of-type {
        margin-right: 10px;
      }

      // 良い方法があればpartsに書きたい
      .buttonCTA-adjustWith {
        width: 92px;
      }
    }
  }
}


.p-modal {
  &__body {
    padding: 15px 25px 35px;
    h2 {
      text-align: center;
      font-size: 41px;
      font-weight: 800;
    }
    p {
      color: $color-palette-gray-8;
      margin-top: 18px;
      line-height: 1.2;
      font-size: 17px;
      text-align: center;
    }
  }

  &__form {
    margin-top: 32px;
    .inputGroup:not(:nth-of-type(1)) {
      margin-top: 20px;
    }
    > .buttonCTA {
      margin-top: 33px;
    }
  }

  &__footer {
    box-shadow: 0 -1px rgba(0,0,0, 0.11);
    padding: 24px 24px 9px;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    > span {
      color: $color-primary-pink;
      cursor: pointer;
      &:hover {
        border-bottom: solid 1px $color-primary-pink;
      }
    }
  }
}