.p-top {
  background-image: url("/images/top-image_1920.png");
  background-size: cover;
  width: 100%;
  height: 100vh;

  &__wrap {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__hero {
    width: 610px;
    text-align: center;
    margin-left: 50px;

    > h1 {
      font-size: 60px;
      font-weight: 800;
      line-height: 1.2;
    }
    > p{ 
      margin-top: 2em;
      font-size: 22px;
      line-height: 1.3;
    }
    .buttonWrap {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      .buttonCTA:first-of-type {
        margin-right: 10px;
      }
      // 良い方法があればpartsに書きたい
      .buttonCTA-adjustWith {
        width: 92px;
      }
    }
  }


  &__modalBody {
    padding: 15px 25px 35px;
    h2 {
      text-align: center;
      font-size: 41px;
      font-weight: 800;
    }
    p {
      color: #7d7c83;
      margin-top: 18px;
      line-height: 1.2;
      font-size: 17px;
      text-align: center;
    }
  }

  &__modalForm {
    margin-top: 32px;

    .inputGroup:not(:nth-of-type(1)) {
      margin-top: 20px;
    }
  
    .buttonCTA-show {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8px;
      width: auto;
      height: 30px;
      font-size: 14px;
      font-weight: 600;
      line-height: 30px;
      color: #000;
      background: #fff;
      padding: 0 12px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.11) inset;
      transition: all 0.15s ease;
      &:hover{
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.31) inset;
      }
    }

    > .buttonCTA {
      margin-top: 33px;
    }
  }


  &__modalFooter {
    box-shadow: 0 -1px rgba(0,0,0, 0.11);
    padding: 24px 24px 9px;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;
    > span {
      color: #ef476f;
      cursor: pointer;
      &:hover {
        border-bottom: solid 1px #ef476f;
      }
    }
  }

  &__message {
    font-size: 15px;
    line-height: 1.2;
    &-error {
      color: #9E5869;
    }
  }
  
}

.add-jboxErrorMessage .jBox-container {
  background-color: #FBD0DA;
  border-radius: 10px;
  box-shadow: none !important;
}