$breakpoints: (
    'sm': 'screen and (max-width: 599px)',
    'md': 'screen and (min-width: 600px) and (max-width: 1023px)',
    'lg': 'screen and (min-width: 1024px)',
    'xlg': 'screen and (min-width: 1400px)',
    'gt-md': 'screen and (min-width: 600px)', /* greater than md */
    'lt-lg': 'screen and (max-width: 1023px)', /* less than lg */
);

/* mobileファースト */
@mixin mq($breakpoint: lg) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}
