@import "../common/_variables";

.c-header {
  width: 100%;
  height: 58px;
  background-color: $color-base-dark;
  padding: 0 15px 0 36px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.11);
  display: flex;
  justify-content: space-between;

  &__title, &__nav {
    display: inline-flex;
    align-items: center;
  }

  &__title {
    font-size: 22px;
    font-weight: 400;
    color: $color-base-white;
    opacity: 0.8;
    transition: all 0.4s ease;
    font-family: Expletus Sans, serif;
    &:hover {
      opacity: 1;
    }
  }

  &__navList {
    display: flex;
    align-items: center;

    > li:first-child {
      margin-right: 15px;
    }
  }

  &__navItem {
    font-size: 15px;
    color: $color-base-white;
    opacity: 0.8;
    transition: all 0.4s ease;

    &:not(:last-child) {
      margin-right: 1em;
    }

    &-signup {
      border: solid 1px $color-base-white;
      padding: 5px 20px;
      border-radius: 2px;
    }

    &:hover {
      opacity: 1;
    }
  }
}