@import "../common/_variables";

.c-header {
  height: 58px;
  box-shadow: 0 1px rgba(0, 0, 0, 0.11);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  &__wrap {
    background-color: $color-base-dark;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 36px;

    &-authed {
      padding: 0 59px;
    }
  }

  &__title, &__nav {
    display: inline-flex;
    align-items: center;
  }

  &__title {
    font-size: 22px;
    font-weight: 400;
    color: $color-base-white;
    opacity: 0.8;
    transition: all 0.4s ease;
    font-family: Expletus Sans, serif;

    &:hover {
      opacity: 1;
    }
  }

  &__navList {
    display: flex;
    align-items: center;

    > li:first-child {
      margin-right: 15px;
    }

    .icon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      cursor: pointer;

      img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    .name {
      color: $color-base-white;
      font-size: 16px;
      opacity: 0.8;
    }
  }

  &__navItem {
    font-size: 15px;
    color: $color-base-white;
    opacity: 0.8;
    transition: all 0.4s ease;

    &:not(:last-child) {
      margin-right: 1em;
    }

    &-signup {
      border: solid 1px $color-base-white;
      padding: 5px 20px;
      border-radius: 2px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__menu {
    display: none;
    position: absolute;
    right: 59px;
    top: 58px;
    width: 141px;
    height: fit-content;
    padding: 7px 10px;
    background: $color-base-white;
    box-shadow: 3px 2px 5px 4px rgba(0, 0, 0, 0.2);

    &.is-open {
      display: block;
    }
  }

  &__menuWrap {
    position: relative;

    &:before {
      content: "";
      position: absolute;
      right: -10px;
      top: -15px;
      width: 0;
      height: 0;
      border-style: solid;
      border-color: #fff transparent transparent transparent;
      border-width: 20px 20px 0 20px;
      transform: rotate(180deg);
    }
  }

  &__pageLink {
    font-size: 15px;
    line-height: 2;
    color: #7d7c83;
    transition: all 0.4s ease;
    &:hover {
      color: $color-base-blue;
    }
  }
}