.c-textInput {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.1;
  border: solid 1px whitesmoke;
  padding: 0.3em 0.5em;
  border-radius: 3px;
  width: 100%;
}

.buttonCTA {
  background-color: #EF476F;
  color: #fff;
  width: fit-content;
  height: 46px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  font-size: 17px;
  font-weight: 700;
  padding: 0 21px;
  vertical-align: baseline;
  cursor: pointer;
  &:hover {
    transition: all .15s ease;
    background-color: #ED315D;
  }

  &-fullWidth{
    width: 100%;
  }
}

.add-jboxOverRay {
  background-color: rgba(0,0,0,.6) !important;
}