.c-textInput {
  background-color: #fff;
  font-size: 16px;
  line-height: 1.1;
  border: solid 1px whitesmoke;
  padding: 0.3em 0.5em;
  border-radius: 3px;
  width: 100%;
}

.buttonCTA {
  background-color: #EF476F;
  color: #fff;
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  font-size: 17px;
  font-weight: 700;
  padding: 12px 15px 12px;
  vertical-align: baseline;
  cursor: pointer;
  &:hover {
    transition: all .15s ease;
    background-color: #ED315D;
  }

  &-fullWidth{
    width: 100%;
  }

  &-round {
    border-radius: 17px;
    font-size: 15px;
    font-weight: 500;
    padding: 9px 21px 9px;
    letter-spacing: 1px;
  }

  &-blue {
    background: #118AB2;
    &:hover {
      background: #0F7CA0;
    }
  }
}

.add-jboxOverRay {
  background-color: rgba(0,0,0,.6) !important;
}

  
.add-popupCustomStyle {
  .jBox-title {
    font-size: 20px;
    font-weight: 600;
    background: #fff !important;
  }
  .jBox-Confirm-button-cancel {
    background: #f5f5f5;
    &:hover, &:active {
      background: #f1f1f1;
    }
    &:active {
      box-shadow: none;
    }
  }
  .jBox-Confirm-button-submit {
    background: #FFD166;
    &:hover, &:active {
      background: #ffcc40;
    }
    &:active {
      box-shadow: none;
    }
  }
}