@import "variables";
/*
usage
<div class="inputGroup">
  <input class="inputText" type="text" placeholder="" name="">
  <i class="icon"></i>
</div>
*/
.c-inputGroup {
  position: relative;

  > i {
    font-size: 16px;
    color: #ddd;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    transition: all .15s ease;
  }

  .inputText {
    border: 1px solid #ddd;
    border-radius: 2px;
    width: 100%;
    height: 45px;
    padding: 0 15px 0 45px;
    font-size: 15px;
    &::placeholder {
      color: #ddd;
      font-weight: 400;
    }
    &:focus {
      border: 1px solid $color-base-blue;
      box-shadow: rgba(0, 0, 0, 0.15) 0 5px 20px 0;
    }
    &:focus~i {
      color: $color-base-blue;
    }
  }
}

/*
usage
<button type="submit" class="c-buttonCTA">Signin</button>
*/
.c-buttonCTA {
  background-color: $color-base-blue;
  color: $color-base-white;
  width: fit-content;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  overflow: hidden;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 17px;
  vertical-align: baseline;
  cursor: pointer;
  transition: all .15s ease;
  &:hover {
    opacity: 0.8;
  }

  &-show {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 8px;
    width: auto;
    height: 30px;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    color: #000;
    background-color: #fff;
    padding: 0 12px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.11) inset;
    transition: all 0.15s ease;
    &:hover{
      background-color: #fff;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.31) inset;
    }
  }

  &-fullWidth{
    width: 100%;
  }

  &-round {
    border-radius: 17px;
    font-size: 15px;
    font-weight: 500;
    padding: 9px 21px 9px;
    letter-spacing: 1px;
  }

  > i {
    margin-right: 0.3em;
  }
}

/*
  jBox ajax時のローディンスピナ－
*/
.c-ajaxLoading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}

/*
  common style for jBox
 */
.add-jboxOverRay {
  background-color: rgba(0,0,0,.6) !important;
}

/*
  common style for Popup
*/
.add-popupCustomStyle {
  .jBox-title {
    font-size: 20px;
    font-weight: 600;
    background: #fff !important;
  }
  .jBox-Confirm-button-cancel {
    background: #f5f5f5;
    &:hover, &:active {
      background: #f1f1f1;
    }
    &:active {
      box-shadow: none;
    }
  }
  .jBox-Confirm-button-submit {
    background: $color-primary-yellow;
    &:hover, &:active {
      background: $color-primary-yellow-state;
    }
    &:active {
      box-shadow: none;
    }
  }
}

/*
  common style for Modal Message
  モーダルオープン時 is-opened
*/
.c-message {
  font-size: 17px;
  line-height: 1.2;
  font-weight: 600;
  &-error {
    opacity: 0;
    color: $color-error-text;
    &.is-opened {
      opacity: 1 !important;
    }
  }
  &-success {
    opacity: 0;
    color: $color-success-text;
    &.is-opened {
      opacity: 1 !important;
    }
  }
}
.add-jboxErrorMessage .jBox-container,  .add-jboxSuccessMessage .jBox-container{
  border-radius: 10px;
  box-shadow: none !important;
}
.add-jboxErrorMessage .jBox-container {
  background-color: $color-error-bg;
}
.add-jboxSuccessMessage .jBox-container {
  background-color: $color-success-bg;
}