@import "variables";

.c-sidebar {
  width: 295px;
  height: 100vh;
  color: #fff;
  background: $color-primary-pink;
  flex-shrink: 0;
  position: sticky;
  top: 0;

  &__wrap {
    padding: 41px 0;
  }

  &__userInfo {
    padding: 0 31px;
    text-align: center;
    
    &__icon {
      width: 135px;
      height: 135px;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      margin: 0 auto;
      > img {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &__name {
      font-size: 18px;
      line-height: 1.6;
      font-weight: 700;
      margin-top: 14px;
    }

    &__email {
      font-size: 15px;
      line-height: 1.6;
      font-weight: 400;
      margin-top: 3px;
    }
  }

  &__menu {
    margin-top: 38px;

    &__list {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__item {
      height: 56px;
      line-height: 1;
      cursor: pointer;
      transition: all .15s ease;
      padding-left: 31px;
      &:hover {
        background: $color-primary-pink-state;
      }
    }

    &__itemLink{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      >span {
        padding-left: 1.1em;
        line-height: 1.4;
        font-weight: 600;
        font-size: 19px;
      }
      >i {
        font-size: 18px;
      }
    }
  }

  &__userInput {
    width: 150px;
    height: 150px;
    &__image {
      width: 100%;
      height: 100%;
    }
  }
}