$color-primary-pink: #EF476F;
$color-primary-pink-state: #ED315D;
$color-primary-yellow: #FFD166;
$color-primary-yellow-state: #FFCC40;
$color-primary-green: #06D6A0;
$color-primary-blue: #118AB2;
$color-primary-blue-state: #0F7CA0;
$color-primary-darkBlue: #073B4C;
$color-error-text: #D8000C;
$color-error-bg: #FFBABA;
$color-success-text: #4F8A10;
$color-success-bg: #DFF2BF;
$color-info-text: #31708f;
$color-info-bg: #d9edf7;
$color-warn-text:#9F6000;
$color-warn-bg: #FEEFB3;