$color-error-text: #D8000C;
$color-error-bg: #FFBABA;
$color-success-text: #4F8A10;
$color-success-bg: #DFF2BF;
$color-info-text: #31708f;
$color-info-bg: #d9edf7;
$color-warn-text:#9F6000;
$color-warn-bg: #FEEFB3;