$color-primary-pink: #EF476F;
$color-primary-pink-state: #ED315D;
$color-primary-yellow: #FFD166;
$color-primary-yellow-state: #FFCC40;
$color-primary-green: #06D6A0;
$color-primary-blue: #118AB2;
$color-primary-blue-state: #0F7CA0;
$color-primary-darkBlue: #073B4C;
$color-error-text: #D8000C;
$color-error-bg: #FFBABA;
$color-success-text: #4F8A10;
$color-success-bg: #DFF2BF;
$color-info-text: #31708f;
$color-info-bg: #d9edf7;
$color-warn-text:#9F6000;
$color-warn-bg: #FEEFB3;

$color-base-blue: #2197F3;
$color-base-dark: #222222;
$color-base-white: #ffffff;
//palette
$color-palette-gray-1: #F5F5F5;
$color-palette-gray-2: #DBDBDB;
$color-palette-gray-3: #DCDCDC;
$color-palette-gray-4: #CCCCCC;
$color-palette-gray-5: #C9C9C9;
$color-palette-gray-6: #A5A5A5;
$color-palette-gray-7: #A3A3A3;
$color-palette-gray-8: #7D7C83;