<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::meta_header('Home', ~{::link}, ~{::script})">
  <script th:src="@{/dist/action/index.js}" defer></script>
  <link rel="stylesheet" th:href="@{/css/page/action.min.css}">
</head>

<body>
<div class="c-globalContainer">
  <div th:replace="common::sidebar">
  </div>
  <div class="c-contents">
    <div class="p-action">
      <section class="p-action__head">
        <h2>Your Bucket</h2>
        <div class="p-action__head__info">
          <span>Total Images : <span th:text="${totalFiles}"></span></span>
          <span>Total Size : <span th:text="${totalSizeReadable}"></span></span>
        </div>
      </section>
      <section class="p-action__content">
        <form th:action="@{'/action/file'}" method="post">
          <table class="p-action__table">
            <tr class="p-action__table__head">
              <th></th>
              <th>Image</th>
              <th>Name</th>
              <th>Size</th>
              <th>Last Modified</th>
            </tr>
            <tr th:each="file, iter : ${fileList}" class="p-action__table__data">
              <td class="input"><input type="checkbox" th:checked="false" name="fileKey" th:value="${file.key}" th:id="${file.file_id}"></td>
              <td class="imageIcon" th:data-url="${file.url}"><i class="icon-file-picture"></i></td>
              <td><label th:for="${file.file_id}"><p th:text="${file.name}"></p></label></td>
              <td><label th:for="${file.file_id}"><p th:text="${readableSizeList.get(iter.index)}"></p></label></td>
              <td><label th:for="${file.file_id}"><p th:text="${file.lastModifiedAt}"></p></label></td>
            </tr>
          </table>
          <div class="p-action__content__buttonWrap">
            <div class="buttonCTA buttonCTA-round buttonCTA-blue" id="js-upload">
              <i class="icon-upload2"></i>
              Upload
            </div>
            <button type="submit" class="buttonCTA buttonCTA-round buttonCTA-blue" name="download">
              <i class="icon-download2"></i>
              Download
            </button>
            <button type="submit" class="buttonCTA buttonCTA-round buttonCTA-blue" name="delete">
              <i class="icon-bin2"></i>
              Delete
            </button>
          </div>
        </form>
      </section>
      <section class="p-action__imgModal" id="js-imgModal">
      </section>
      <section id="js-uploadModal" class="uploadModal">
        <div class="uploadMain">
          <div class="uploadMain__fileArea">
            <div class="uploadMain__textArea">
              <i class="icon-upload2"></i>
              <span class="mainText">Drag images to upload</span>
              <span class="subText">or select images</span>
              <div class="buttonWrap">
                <form enctype="multipart/form-data">
                  <input type="file" accept=".jpg, .jpeg, .png" id="fileInput" multiple>
                  <label class="buttonCTA buttonCTA-blue" for="fileInput">Choose Image</label>
                </form>
              </div>
            </div>
          </div>
          <div class="uploadMain__statusArea">
            <span>Total Size : <span id="js-totalSize" data-rawsize="0">0</span></span>
            <ul class="fileList" id="js-fileList">
            </ul>
          </div>
        </div>
        <div class="uploadFooter">
          <div class="message">
            <p>Acceptable formats: jpg, png</p>
            <p>Max file size is 10MB.</p>
            <p>Max size per request is 100MB.</p>
          </div>
          <div class="buttonWrap">
            <button class="buttonCTA" id="js-clear">Clear</button>
            <button class="buttonCTA" id="js-execute">Upload</button>
          </div>
        </div>
      </section>
      <div th:if="${actionError}" data-message="error" class="c-message c-message-error">
        <span th:text="${message}"></span>
      </div>
      <div th:if="${actionSuccess}" data-message="success" class="c-message c-message-success">
        <span th:text="${message}"></span>
      </div>
    </div>
  </div>
</div>
</body>

</html>