<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::meta_header('Home', ~{::link}, ~{::script})">
  <script th:src="@{/dist/action/index.js}" defer></script>
  <link rel="stylesheet" th:href="@{/css/page/action.min.css}">
</head>

<body>
<div class="c-globalContainer">
  <div th:replace="common::sidebar">
  </div>
  <div class="c-contents">
    <div class="p-action">
      <section class="p-action__head">
        <h2>Images In Storage</h2>
        <div class="p-action__head__info">
          <span>Total Images : <span th:text="${totalImages}"></span></span>
          <span>Total Size : <span th:text="${totalSizeReadable}"></span></span>
        </div>
      </section>
      <section class="p-action__content">
        <form th:action="@{'/action/file'}" method="post">
          <table class="p-action__table">
            <tr class="p-action__table__head">
              <th></th>
              <th>Image</th>
              <th>Name</th>
              <th>Size</th>
              <th>Last Modified</th>
            </tr>
            <tr th:each="img : ${imageList}" class="p-action__table__data">
              <td class="input"><input type="checkbox" th:checked="${img.checked}" name="imgData" th:value="${img.title}" th:id="${img.id}"></td>
              <td class="imageIcon" th:data-url="${img.url}"><i class="icon-file-picture"></i></td>
              <td><label th:for="${img.id}"><p th:text="${img.title}"></p></label></td>
              <td><label th:for="${img.id}"><p th:text="${img.size}"></p></label></td>
              <td><label th:for="${img.id}"><p th:text="${img.lastModified}"></p></label></td>
            </tr>
          </table>
          <div class="p-action__content__buttonWrap">
            <button type="submit" class="buttonCTA buttonCTA-round buttonCTA-blue" name="delete">
              <i class="icon-bin2"></i>
              Delete
            </button>
            <button type="submit" class="buttonCTA buttonCTA-round buttonCTA-blue" name="download">
              <i class="icon-download2"></i>
              Download
            </button>
          </div>
        </form>
      </section>
      <section class="p-action__imgModal" id="js-imgModal">
      </section>
      <div th:if="${actionError}" data-message="error" class="c-message c-message-error">
        <span th:text="${message}"></span>
      </div>
      <div th:if="${actionSuccess}" data-message="success" class="c-message c-message-success">
        <span th:text="${message}"></span>
      </div>
    </div>
  </div>
</div>
</body>

</html>