<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::meta_header('Home', ~{::link}, ~{::script})">
  <script th:src="@{/dist/action/index.js}" defer></script>
  <link rel="stylesheet" th:href="@{/css/page/action.min.css}">
</head>

<body>
<div th:replace="common::header"></div>
<div class="c-globalContainer">
  <div class="p-action">
    <div th:replace="common::pageHeader"></div>
    <div class="p-action__headMenu">
      <ul class="p-action__menuList">
        <li>
          <i class="icon-menu1" data-section-id="displayList" th:name="js-menuIcon"></i>
        </li>
        <li>
          <i class="icon-view-tile" data-section-id="displayTile" th:name="js-menuIcon"></i>
        </li>
        <li>
          <i class="icon-upload2" id="js-upload"></i>
        </li>
        <li>
          <button type="submit" name="download" form="listForm">
            <i class="icon-download2"></i>
          </button>
        </li>
        <li>
          <button type="submit" name="delete" form="listForm">
            <i class="icon-bin2"></i>
          </button>
        </li>
        <li>
          <i class="icon-reload" id="js-reload"></i>
        </li>
      </ul>
    </div>

    <section class="p-action__content is-show" id="displayList" th:name="js-content">
      <form th:action="@{'/action/file'}" method="post" id="listForm">
        <table class="p-action__table">
          <tr class="p-action__table__head">
            <th></th>
            <th>Image</th>
            <th>Name</th>
            <th>Size</th>
            <th>Last Modified</th>
          </tr>
          <tr th:each="file, iter : ${fileList}" class="p-action__table__data">
            <td class="input"><input type="checkbox" th:checked="false" name="fileKey" th:value="${file.key}"
                                     th:id="${file.file_id}"></td>
            <td class="imageIcon" th:data-url="${file.url}"><i class="icon-file-picture"></i></td>
            <td><label th:for="${file.file_id}"><p th:text="${file.name}"></p></label></td>
            <td><label th:for="${file.file_id}"><p th:text="${readableSizeList.get(iter.index)}"></p></label></td>
            <td><label th:for="${file.file_id}"><p th:text="${file.lastModifiedAt}"></p></label></td>
          </tr>
        </table>
      </form>
    </section>

    <section class="p-action__content" id="displayTile" th:name="js-content">
      <div class="p-action__tileWrap">
        <ul class="p-action__tileList">
          <li th:each="url, iter : ${urlList}">
            <img th:src="${urlList.get(iter.index)}" alt="" loading="lazy">
          </li>
        </ul>
      </div>
    </section>

    <section class="p-action__imgModal" id="js-imgModal">
    </section>

    <section id="js-uploadModal" class="uploadModal">
      <div class="uploadMain">
        <div class="uploadMain__fileArea">
          <div class="uploadMain__textArea">
            <i class="icon-upload2"></i>
            <span class="mainText">Drag images to upload</span>
            <span class="subText">or select images</span>
            <div class="buttonWrap">
              <form enctype="multipart/form-data">
                <input type="file" accept=".jpg, .jpeg, .png" id="fileInput" multiple>
                <label class="c-buttonCTA" for="fileInput">Choose Image</label>
              </form>
            </div>
          </div>
        </div>
        <div class="uploadMain__statusArea">
          <span>Total Size : <span id="js-totalSize" data-rawsize="0">0</span></span>
          <ul class="fileList" id="js-fileList">
          </ul>
        </div>
      </div>
      <div class="uploadFooter">
        <div class="message">
          <p>Acceptable formats: jpg, png</p>
          <p>Max file size is 10MB.</p>
          <p>Max size per request is 100MB.</p>
        </div>
        <div class="buttonWrap">
          <button class="c-buttonCTA" id="js-clear">Clear</button>
          <button class="c-buttonCTA" id="js-execute">Upload</button>
        </div>
      </div>
    </section>
    <div th:if="${actionError}" data-message="error" class="c-message c-message-error">
      <span th:text="${message}"></span>
    </div>
    <div th:if="${actionSuccess}" data-message="success" class="c-message c-message-success">
      <span th:text="${message}"></span>
    </div>
  </div>
</div>
</body>

</html>