<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="meta_header(title, links, scripts)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title==null}? 'imagepot' : ${title}+' | imagepot'">各ページタイトル | imagepot</title>
  <link rel="stylesheet" th:href="@{/css/common/index.min.css}" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Open+Sans:wght@300;400;600;700&display=swap"
    rel="stylesheet">

  <th:block th:replace="${links} ?: _" />
  <th:block th:replace="${scripts} ?: _" />
</head>

<body>
  <header class="c-header" th:fragment="header">
    <a class="c-header__title" href="/login">
      <h1>Image Pot</h1>
    </a>
    <nav class="c-header__nav">
      <ul class="c-header__navList">
        <li>
          <a class="c-header__navItem" href="/login">Sign in</a>
        </li>
        <li>
          <a class="c-header__navItem" href="/login">Sign up</a>
        </li>
      </ul>
    </nav>
  </header>
  <footer class="c-footer" th:fragment="footer">
    <div class="c-footer__wrap">
      <p>Image Pot</p>
      <small>Copyright &copy; 2021 ODEN. All Rights Reserved.</small>
    </div>
  </footer>
</body>

</html>