<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:fragment="meta_header(title, links, scripts)">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="_csrf" th:content="${_csrf.token}">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <title th:text="${title==null}? 'ImgBucket' : ${title}+' | ImgBucket'">各ページタイトル | ImgBucket</title>
  <link rel="stylesheet" th:href="@{/icomoon/style.css}" type="text/css">
  <link rel="stylesheet" th:href="@{/css/common/index.min.css}" type="text/css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link
      href="https://fonts.googleapis.com/css2?family=Expletus+Sans:wght@400;600&Noto+Sans+JP:wght@300;400&family=Open+Sans:wght@300;400;600;700;800&display=swap"
      rel="stylesheet">
  <script th:src="@{/dist/common/index.js}" defer></script>
  <th:block th:replace="${links} ?: _"/>
  <th:block th:replace="${scripts} ?: _"/>
</head>

<body>
<header class="c-header" th:fragment="header" id="header">
  <div class="c-header__wrap" sec:authorize="!isAuthenticated()">
    <a class="c-header__title" href="/">
      <span class="logo">ImgBucket</span>
    </a>
    <nav class="c-header__nav">
      <ul class="c-header__navList">
        <li>
          <a href="/login" class="c-header__navItem">SIGN IN</a>
        </li>
        <li>
          <a href="/signup" class="c-header__navItem c-header__navItem-signup">GET STARTED</a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="c-header__wrap c-header__wrap-authed" sec:authorize="isAuthenticated()">
    <a class="c-header__title" href="/home">
      <span class="logo">ImgBucket</span>
    </a>
    <nav class="c-header__nav">
      <ul class="c-header__navList"  th:switch="${#authentication.principal.icon}">
        <li>
          <span class="name" th:text="${#authentication.principal.name}"></span>
        </li>
        <li>
          <figure class="icon" th:case="null">
            <img th:src="@{/images/initial_icon.jpg}" alt="">
          </figure>
          <figure class="icon" th:case="*">
            <img th:src="${#authentication.principal.icon}" alt="">
          </figure>
        </li>
      </ul>
    </nav>
  </div>
  <div class="c-header__menu" id="menu" sec:authorize="isAuthenticated()">
    <div class="c-header__menuWrap">
      <ul class="c-header__menuList">
        <li>
          <a class="c-header__pageLink" th:href="@{'/home'}">
            <span>Home</span>
          </a>
        </li>
        <li>
          <a class="c-header__pageLink" th:href="@{'/action'}">
            <span>Manage Images</span>
          </a>
        </li>
        <li>
          <a class="c-header__pageLink" th:href="@{'/settings'}">
            <span>Settings</span>
          </a>
        </li>
        <li class="c-header__pageLink" sec:authorize="hasRole('ADMIN')">
          <a class="c-header__pageLink" th:href="@{'/admin'}">
            <span>Manage Users</span>
          </a>
        </li>
        <li class="c-header__pageLink">
          <a th:href="@{'/logout'}" class="c-header__pageLink" id="logout"
             data-confirm="Are you sure you want to logout?">
            <span>Logout</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>

<section class="c-pageHeader" th:fragment="pageHeader">
  <h2>Your Bucket</h2>
  <div class="c-pageHeader__storageInfo">
    <span>Total Images : <span th:text="${totalFiles}"></span></span>
    <span>Total Size : <span th:text="${totalSizeReadable}"></span></span>
  </div>
</section>

</body>

</html>