<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::meta_header('Error', ~{::link}, ~{::script})">
  <link rel="stylesheet" th:href="@{/css/page/error.min.css}">
</head>

<body>
<header class="c-header" id="header">
  <div class="c-header__wrap">
    <a class="c-header__title" href="/">
      <span class="logo">ImgBucket</span>
    </a>
  </div>
</header>
<div class="c-globalContainer">
  <div class="p-error">
    <h2 th:text="${status} + ' ' + ${error}"></h2>
    <p th:text="${message}"></p>
    <a th:href="@{'/logout'}" class="c-buttonCTA" type="submit">
      Go back to the login page
    </a>
  </div>
</div>
</body>