<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::meta_header('Error', ~{::link}, ~{::script})">
  <link rel="stylesheet" th:href="@{/css/page/error.min.css}">
</head>

<body>
<div th:replace="common::header"></div>
  <div class="p-error">
    <h1 th:text="${status} + ' ' + ${error}"></h1>
    <p th:text="${message}"></p>
    <form method="POST" th:action="@{/signout}">
      <button class="buttonCTA" type="submit">
        Go back to the login page
      </button>
    </form>
  </div>
</body>