<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::meta_header('Home', ~{::link}, ~{::script})">
  <link rel="stylesheet" th:href="@{/css/page/home.min.css}">
  <script th:src="@{/dist/home/index.js}"></script>
</head>

<body>
  <header th:replace="common::header">
  </header>
  <article class="p-home">
    <section class="p-home__head">
      <h2><img th:src="@{/images/logo-round.png}" alt="">Images In Pot</h2>
      <div class="p-home__sort">
        <select name="" id="">
          <option value="">新しい順</option>
          <option value="">古い順</option>
        </select>
        <div class="buttonCTA_box">
          <a class="buttonCTA" href="">並び替え</a>
        </div>
      </div>
    </section>
    <section class="p-home__contents">
      <div class="p-home__mansonry">
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testA.jpg}" alt="">

          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testB.jpg}" alt="">

          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testC.jpg}" alt="">
          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testD.jpg}" alt="">
          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testB.jpg}" alt="">
          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testC.jpg}" alt="">
          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testD.jpg}" alt="">
          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testA.jpg}" alt="">
          </div>
        </figure>
        <!-- <figure><img th:src="@{/images/testC.jpg}" alt=""></figure>
        <figure><img th:src="@{/images/testD.jpg}" alt=""></figure>
        <figure><img th:src="@{/images/testB.jpg}" alt=""></figure>
        <figure><img th:src="@{/images/testC.jpg}" alt=""></figure>
        <figure><img th:src="@{/images/testA.jpg}" alt=""></figure>
        <figure><img th:src="@{/images/testD.jpg}" alt=""></figure>
        <figure><img th:src="@{/images/testB.jpg}" alt=""></figure> -->
      </div>
    </section>
  </article>
  <footer th:replace="common::footer">
  </footer>
</body>

</html>