<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::meta_header('Home', ~{::link}, ~{::script})">
  <link rel="stylesheet" th:href="@{/css/page/home.min.css}">
  <script th:src="@{/dist/home/index.js}"></script>
</head>

<body>
  <article class="p-home">
    <div th:replace="common::sidebar">
    </div>
    <section class="p-home__contents">
      <div class="p-home__mansonry">
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testA.jpg}" alt="">

          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testB.jpg}" alt="">

          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testC.jpg}" alt="">
          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testD.jpg}" alt="">
          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testB.jpg}" alt="">
          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testC.jpg}" alt="">
          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testD.jpg}" alt="">
          </div>
        </figure>
        <figure>
          <div class="p-home__mansonry__imgWrap">
            <img th:src="@{/images/testA.jpg}" alt="">
          </div>
        </figure>
      </div>
      <footer th:replace="common::footer">
      </footer>
    </section>
  </article>


</body>

</html>