<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::meta_header('Settings', ~{::link}, ~{::script})">
  <link rel="stylesheet" th:href="@{/css/page/settings.min.css}">
  <script th:src="@{/dist/settings/index.js}" defer></script>
</head>

<body>
  <div class="c-globalContainer">
    <div th:replace="common::sidebar">
    </div>
    <div class="c-contents">
      <div class="p-settings">
        <h1>Edit Information</h1>
        <section class="p-settings__editBlock">
          <div class="p-settings__editBlock__wrap">
            <h2>Your Profile</h2>
            <div class="p-settings__editBlock__content">
              <dl class="p-settings__settingArea">
                <dt>Your Icon</dt>
                <dd>
                  <figure class="icon" id="icon">
                    <img th:if="${#authentication.principal.icon}" th:src="${#authentication.principal.icon}" alt="">
                  </figure>
                  <button class="buttonCTA">Change Icon</button>
                </dd>
              </dl>
              <form action="">
                <dl class="p-settings__settingArea">
                  <dt><label for="name">Name</label></dt>
                  <dd class="inputGroup">
                    <input class="inputText" type="text" id="name">
                    <i class="icon-user"></i>
                  </dd>
                </dl>
                <dl class="p-settings__settingArea">
                  <dt><label for="email">Email</label></dt>
                  <dd class="inputGroup">
                    <input class="inputText" type="text" id="email">
                    <i class="icon-envelop"></i>
                  </dd>
                </dl>
                <div class="p-settings__settingArea p-settings__settingArea-buttonBox">
                  <button class="buttonCTA">Update</button>
                </div>
              </form>
            </div>
          </div>
        </section>
        <section class="p-settings__editBlock">
          <div class="p-settings__editBlock__wrap">
            <h2>Change Password</h2>
            <div class="p-settings__editBlock__content">
              <form action="">
                <dl class="p-settings__settingArea">
                  <dt><label for="currentPassword">Current Password</label></dt>
                  <dd class="inputGroup">
                    <input class="inputText" type="password" id="currentPassword">
                    <span class="buttonCTA buttonCTA-show">Show</span>
                    <i class="icon-lock"></i>
                  </dd>
                </dl>
                <dl class="p-settings__settingArea">
                  <dt><label for="newPassword">New Password</label></dt>
                  <dd class="inputGroup">
                    <input class="inputText" type="password" id="newPassword">
                    <span class="buttonCTA buttonCTA-show">Show</span>
                    <i class="icon-lock"></i>
                  </dd>
                </dl>
                <dl class="p-settings__settingArea">
                  <dt><label for="confirmNewPassword">Confirm New Password</label></dt>
                  <dd class="inputGroup">
                    <input class="inputText" type="password" id="confirmNewPassword">
                    <span class="buttonCTA buttonCTA-show">Show</span>
                    <i class="icon-lock"></i>
                  </dd>
                </dl>
                <div class="p-settings__settingArea p-settings__settingArea-buttonBox">
                  <button class="buttonCTA">Update</button>
                </div>
              </form>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</body>

</html>