<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::meta_header('Login', ~{::link}, ~{::script})">
  <link rel="stylesheet" th:href="@{/css/page/top.min.css}">
</head>

<body>
  <header th:replace="common::header">
  </header>
  <section class="p-top">
    <div class="p-top__wrap">
      <div class="p-top__hero">
        <h1>The simple and fast<br>storage service<br>for images!</h1>
        <p>Store secret images that you don't want to see.</p>
        <div class="buttonWrap">
          <button id="signin" class="buttonCTA">
            Sign in
          </button>
          <button id="signup" class="buttonCTA">
            Sign up
          </button>
        </div>
      </div>
      <div style="display: none;" id="modalContent" class="p-top__modalContent">
        <div class="p-top__modalBody">
          <h2>Join Imagepot</h2>
          <p>Use image storage for free.</p>
          <form class="p-top__modalForm" method="POST">
            <div class="p-top__inputGroup">
              <input class="inputText" type="text" placeholder="Name">
              <i class="icon-user"></i>
            </div>
            <div class="p-top__inputGroup">
              <input class="inputText" type="text" placeholder="Email">
              <i class="icon-envelop"></i>
            </div>
            <div class="p-top__inputGroup">
              <input class="inputText" type="text" placeholder="Password">
              <i class="icon-lock"></i>
            </div>
            <div class="p-top__inputGroup">
              <input class="inputText" type="text" placeholder="Confirm Password">
              <i class="icon-lock"></i>
            </div>
            <button class="buttonCTA buttonCTA-fullWidth">
              Create account
            </button>
          </form>
        </div>

      </div>
    </div>
  </section>
  <footer th:replace="common::footer">
  </footer>
</body>

<script th:src="@{/dist/top/index.js}"></script>

</html>