<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="common::meta_header('Login', ~{::link}, ~{::script})">
  <link rel="stylesheet" th:href="@{/css/page/top.min.css}">
</head>

<body>
  <header th:replace="common::header">
  </header>
  <section class="p-top">
    <div class="p-top__wrap">
      <div class="p-top__hero">
        <h1>The simple and fast<br>storage service<br>for images!</h1>
        <p>Store secret images that you don't want to see.</p>
        <div class="buttonWrap">
          <button id="signin" class="buttonCTA">
            Sign in
          </button>
          <button id="signup" class="buttonCTA">
            Sign up
          </button>
        </div>
      </div>

      <div style="display: none;" id="modalContent" class="p-top__modalContent">
        <div class="p-top__modalBody">
          <h2>Join Imagepot</h2>
          <p>Use image storage for free.</p>
          <form class="p-top__modalForm" method="POST" th:object="${signupForm}">
            <div class="p-top__inputGroup">
              <input class="inputText" type="text" placeholder="Name" th:field="*{name}" maxlength="10">
              <i class="icon-user"></i>
            </div>
            <div class="p-top__inputGroup">
              <input class="inputText" type="text" placeholder="Email" th:field="*{email}">
              <i class="icon-envelop"></i>
            </div>
            <div class="p-top__inputGroup">
              <input class="inputText" type="password" placeholder="Password" th:field="*{password}">
              <i class="icon-lock"></i>
              <span class="buttonCTA buttonCTA-show" id="showButtonPassword">Show</span>
            </div>
            <div class="p-top__inputGroup">
              <input class="inputText" type="password" placeholder="Confirm Password" th:field=*{confirmPassword}>
              <i class="icon-lock"></i>
              <span class="buttonCTA buttonCTA-show" id="showButtonConfirm">Show</span>
            </div>
            <button class="buttonCTA buttonCTA-fullWidth">
              Create account
            </button>
          </form>
        </div>
        <div class="p-top__modalFooter">
          Already registered? <a href="">Sign in</a>
        </div>
      </div>
      <div th:if="${#fields.hasErrors('${signupForm.*}')}" id="formError" class="p-top__errorMessage">
        <span th:errors="${signupForm.*}"></span>
      </div>
    </div>
  </section>
  <footer th:replace="common::footer">
  </footer>
</body>

<script th:src="@{/dist/top/index.js}"></script>

</html>