<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:Mapperインターフェースを指定 -->
<mapper namespace="com.imagepot.oden.repository.mybatis.SignupFormMapper">
    <!-- id:マップ名 type:紐付けるbean名 -->
    <resultMap id="signupForm" type="com.imagepot.oden.model.SignupForm">
        <!-- id:PK column:DB  property:field -->
        <result column="user_name" property="name" />
        <result column="user_email" property="signupEmail" />
        <result column="user_password" property="signupPassword" />
    </resultMap>
    <select id="checkDuplicateEmail" parameterType="string" resultType="boolean">
        SELECT EXISTS (SELECT * from mywork.pot_user WHERE user_email = #{signupEmail});
    </select>
    <insert id="registUser" parameterType="com.imagepot.oden.model.User">
        INSERT INTO mywork.pot_user 
            (user_email, user_password, user_name)
        SELECT #{email}, #{password}, #{name}
        WHERE 
            NOT EXISTS (
                SELECT user_email FROM mywork.pot_user WHERE user_email = #{email}
            );
    </insert>
</mapper>