<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace:Mapperインターフェースを指定 -->
<mapper namespace="com.imagepot.xyztk.repository.mybatis.UserMapper">
    <!-- id:マップ名 type:紐付けるbean名 -->
    <resultMap id="user" type="com.imagepot.xyztk.model.User">
        <!-- id:PK column:DB  property:field -->
        <id column="user_id" property="id" />
        <result column="user_name" property="name" />
        <result column="user_email" property="email" />
        <result column="user_password" property="password" />
        <result column="user_icon" property="icon" />
        <result column="user_role" property="role" />
        <result column="user_password_updated_at" property="passwordUpdatedAt" />
        <result column="user_signin_miss_times" property="signinMissTimes" />
        <result column="user_unlock" property="unlock" />
        <result column="user_enabled" property="enabled" />
        <result column="user_created_at" property="createdAt" />
        <result column="user_updated_at" property="updatedAt" />
    </resultMap>
    <!-- 検索(READ)のSQLの場合のみ、resultType属性に戻り値のデータ型を指定 -->
    <select id="selectOneUser" parameterType="integer" resultMap="user">
        SELECT
            user_id,
            user_name,
            user_email,
            user_created_at,
            user_updated_at
        FROM
            mywork.pot_user
        WHERE
            user_id = #{id}
    </select>
    <select id="selectAllUser" resultMap="user">
        SELECT * FROM mywork.pot_user ORDER BY user_id;
    </select>
    <delete id="deleteOneUser" parameterType="integer">
        DELETE FROM mywork.pot_user WHERE user_id = #{id}
    </delete>
    <update id="updateIcon" parameterType="com.imagepot.xyztk.model.User">
        UPDATE mywork.pot_user
        SET
            user_icon = #{icon}
        WHERE
            user_id = #{id}
    </update>
</mapper>